# pycanon                      
pytest>=7.1.2
flake8>=3.7.9                                                                   
mypy>=0.761 
docutils>=0.18.1
pandas==2.3.3
reportlab==4.4.10
scipy==1.15.3
types-tabulate
pandas-stubs

# docs
sphinx>=4.0.2
sphinx_rtd_theme
recommonmark
furo
