# The order of packages is significant, because pip processes them in the order 
# of appearance. Changing the order has an impact on the overall integration    
# process, which may cause wedges in the gate later.                            
pytest>=7.1.2
flake8>=3.7.9                                                                   
mypy>=0.761 # MIT
docutils>=0.18.1
types-tabulate
pandas-stubs

# docs
sphinx>=4.0.2
sphinx_rtd_theme
recommonmark
furo
